**Importing Libraries**

In [1]:
import itertools
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

**Reading Data**

In [2]:
aisles_df = pd.read_csv("./aisles.csv")

# Remove rows with NaN values
aisles_df.dropna(inplace = True)

aisles_df

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [3]:
order_products__prior_df = pd.read_csv("./order_products__prior.csv")

# Remove rows with NaN values
order_products__prior_df.dropna(inplace = True)

order_products__prior_df

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [4]:
departments_df = pd.read_csv("./departments.csv")

# Remove rows with NaN values
departments_df.dropna(inplace = True)

departments_df

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [5]:
orders_df = pd.read_csv("./orders.csv")

# Remove rows with NaN values
orders_df.dropna(inplace = True)

orders_df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [6]:
products_df = pd.read_csv("./products.csv")

# Remove rows with NaN values
products_df.dropna(inplace = True)

products_df

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

<h1 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
  <font face="vazir" color="#0099cc">
    <strong>📌 PHASE ONE</strong>
  </font>
</h1>

**Group by the products according to each order. This means that find out in order number d, which items appear in which order. You can name the ordered output list a basket for each order.**

In [7]:
# Merge dataframes
merged_df = pd.merge(order_products__prior_df, products_df, on = "product_id")
merged_df = pd.merge(merged_df, orders_df, on = "order_id")

# Group by order_id and create a list of products for each order
baskets = merged_df.groupby("order_id")["product_name"].apply(list).reset_index(name = "basket")

baskets

         order_id                                             basket
0               2  [Organic Egg Whites, Michigan Organic Kale, Ga...
1               3  [Total 2% with Strawberry Lowfat Greek Straine...
2               4  [Plain Pre-Sliced Bagels, Honey/Lemon Cough Dr...
3               5  [Bag of Organic Bananas, Just Crisp, Parmesan,...
4               6  [Cleanse, Dryer Sheets Geranium Scent, Clean D...
...           ...                                                ...
3008660   3421078  [Banana, Organic Gala Apples, Honey Nut Cheeri...
3008661   3421079                                    [Moisture Soap]
3008662   3421080  [Organic Cilantro, Organic Whole Milk, Organic...
3008663   3421082  [Raspberries, Strawberries, Toasted Coconut Ch...
3008664   3421083  [Banana, Organic Mixed Berry Yogurt & Fruit Sn...

[3008665 rows x 2 columns]

**How many times was each product ordered?**

In [8]:
# Count the occurrences of each product_id
product_order_counts = merged_df["product_id"].value_counts().reset_index()
# Rename the columns
product_order_counts.columns = ["product_id", "order_count"]

product_order_counts

       product_id  order_count
0           24852       443031
1           13176       360292
2           21137       248219
3           21903       226973
4           47209       202478
...           ...          ...
49641        8749            1
49642       38276            1
49643       45963            1
49644       43778            1
49645       39759            1

[49646 rows x 2 columns]

**Find the number of orders per department and visualize using an appropriate plot.**

In [ ]:
# Merge dataframes
number_of_orders_per_department_df = pd.merge(merged_df, products_df, on = "product_id")
number_of_orders_per_department_df = pd.merge(number_of_orders_per_department_df, departments_df, left_on = "department_id_x", right_on = "department_id")

# Group by department and count the number of unique orders
orders_per_department = number_of_orders_per_department_df.groupby("department")["order_id"].nunique().reset_index(name = "order_count")

# Visualize using Plotly
fig = px.bar(orders_per_department, x = "department", y = "order_count", title = "Number of Orders per Department")
fig.update_layout(title = dict(text = "<b>Number of Orders per Department</b>"), xaxis = dict(title = dict(text = "<b>Department</b>")), yaxis = dict(title = dict(text = "<b>Order Count</b>")))

fig.show()

**On which day of the week do customers tend to buy more groceries? What are the peak hours of shopping?**

In [ ]:
# Group by day of the week and count the number of orders
orders_by_day = merged_df.groupby("order_dow")["order_id"].nunique().reset_index(name = "order_count")

# Map day of the week
day_of_week_mapping = {
    0: "Sunday",
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday"
}

orders_by_day["day_of_week"] = orders_by_day["order_dow"].map(day_of_week_mapping)

# Visualize
fig = px.bar(orders_by_day, x = "day_of_week", y = "order_count", title = "Number of Orders by Day of the Week", color_discrete_sequence = px.colors.qualitative.Set3)
line_trace = go.Scatter(x = orders_by_day["day_of_week"], y = orders_by_day["order_count"], mode = "lines+markers", line = dict(color = "red", width = 2), marker = dict(color = "red", size = 8), name = "Order Count (Line)")
fig.add_trace(line_trace)
fig.update_layout(title = dict(text = "<b>Number of Orders by Day of the Week</b>"), xaxis = dict(title = dict(text = "<b>Day of the Week</b>")), yaxis = dict(title = dict(text = "<b>Order Count</b>")))

fig.show()

In [ ]:
# Group by hour of the day and calculate the number of orders for each hour
orders_by_hour = merged_df.groupby("order_hour_of_day")["order_id"].count().reset_index(name = "order_count")

# Visualize
fig = px.line(orders_by_hour, x = "order_hour_of_day", y = "order_count", labels = {"order_hour_of_day": "Hour of the Day", "order_count": "Order Count"}, title = "Number of Orders by Hour of the Day", markers = True)
fig.update_layout(title = dict(text = "<b>Number of Orders by Hour of the Day</b>"), xaxis = dict(title = dict(text = "<b>Hour of the Day</b>"), tickmode = "array", tickvals = orders_by_hour["order_hour_of_day"]), yaxis = dict(title = dict(text = '<b>Order Count</b>')))
fig.show()

**Plot the heatmap of the Re-order ratio of the Day of the week vs Hour of the day.**

In [ ]:
# Create a pivot table
reorder_pivot = merged_df.pivot_table(index = "order_dow", columns = "order_hour_of_day", values = "reordered", aggfunc = "mean")

# Convert the pivot table to a Plotly heatmap
trace = go.Heatmap(z = reorder_pivot.values, x = reorder_pivot.columns, y = reorder_pivot.index, colorscale = "Viridis", colorbar = dict(title = "<b>Reorder Ratio</b>"))
layout = go.Layout(title = dict(text = "<b>Reorder Ratio of Day of the Week vs Hour of the Day</b>"), xaxis = dict(title = "<b>Hour of the Day</b>", tickmode = "array", tickvals = list(range(24)), dtick = 1), yaxis = dict(title = "<b>Day of the Week</b>"))

fig = go.Figure(data = [trace], layout = layout)
fig.show()

**Find the ratio of Re-ordered and Not Re-ordered products and visualize it.**

In [ ]:
# Calculate the ratio of re-ordered products
reorder_ratio = merged_df["reordered"].value_counts(normalize = True).reset_index()
reorder_ratio.columns = ["Reordered", "Ratio"]
reorder_ratio["Reordered"] = reorder_ratio["Reordered"].map({0: "Not Reordered", 1: "Reordered"})

# Visualize
fig = px.pie(reorder_ratio, names = "Reordered", values = "Ratio", title = "Ratio of Re-ordered Products")
fig.update_layout(title = dict(text = "<b>Ratio of Re-ordered Products</b>"))
fig.show()

<h1 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
  <font face="vazir" color="#0099cc">
    <strong>📌 EXTRA</strong>
  </font>
</h1>

**Popular Aisles**

In [ ]:
# Merge dataframes
merged_df = pd.merge(merged_df, aisles_df, on = "aisle_id", how = "left")

# Count the occurrences of each aisle
aisle_counts = merged_df["aisle"].value_counts().reset_index()

# Rename columns
aisle_counts.columns = ["aisle", "count"]

# Bar chart
fig = px.bar(aisle_counts, x = "count", y = "aisle", orientation = "h", title = "Most Popular Aisles", labels = {"count": "Number of Orders", "aisle": "Aisle"})
fig.update_layout(title = dict(text = "<b>Most Popular Aisles</b>"), xaxis = dict(title = dict(text = "<b>count</b>")), yaxis = dict(title = dict(text = "<b>aisle</b>")))
fig.show()

**Top Products Ordered**

In [ ]:
# Count the occurrences of each product and get the top products
top_products = merged_df["product_name"].value_counts().head(10)

# Create a dataframe with product names and their corresponding counts
top_products_data = pd.DataFrame({"Product": top_products.index, "Count": top_products.values})

# Visualize
fig = px.bar(top_products_data, x = "Product", y = "Count", title = "Top Products Ordered", color = "Product")
fig.update_layout(showlegend = False)
fig.update_layout(xaxis_title = "Product", yaxis_title = "Count")
fig.update_layout(title = dict(text = "<b>Top Products Ordered</b>"), xaxis = dict(title = dict(text = "<b>Product</b>")), yaxis = dict(title = dict(text = "<b>Count</b>")))
fig.show()

**Days Since Prior Order Distribution**

In [ ]:
# Extract the relevant column for Days Since Prior Order
days_since_prior_order = orders_df["days_since_prior_order"]

# Create a distribution plot
fig = px.histogram(days_since_prior_order, nbins = 50, marginal = "box", title = "Days Since Prior Order Distribution", labels = {"value": "Days Since Prior Order", "count": "Frequency"})

# Visualize
fig.update_layout(showlegend = False)
fig.update_layout(xaxis_title = "Days Since Prior Order", yaxis_title = "Frequency")
fig.update_layout(title = dict(text = "<b>Days Since Prior Order Distribution</b>"), xaxis = dict(title = dict(text = "<b>Days Since Prior Order</b>")), yaxis = dict(title = dict(text = "<b>Frequency</b>")))
fig.show()

<h1 align=left style="line-height:200%;font-family:vazir;color:#0099cc">
  <font face="vazir" color="#0099cc">
    <strong>📌 PHASE TWO</strong>
  </font>
</h1>

In [17]:
# Parameters
baskets_values = baskets["basket"].tolist()
baskets_values = baskets_values[:10]
min_support = 2
min_confidence = 0.5

In [18]:
def generate_candidate_itemsets(data, k):
    candidates = set()
    for transaction in data:
        candidates.update(itertools.combinations(transaction, k))
    return candidates

In [19]:
def calculate_support(data, candidates):
    support = {}
    for transaction in data:
        for candidate in candidates:
            if set(candidate).issubset(set(transaction)):
                support[candidate] = support.get(candidate, 0) + 1
    return support

In [20]:
def prune_non_frequent_itemsets(support, min_support):
    return {itemset: count for itemset, count in support.items() if count >= min_support}

In [21]:
def apriori_algorithm(data, min_support):
    frequent_itemsets = {}
    k = 1
    
    while True:
        candidates = generate_candidate_itemsets(data, k)
        support = calculate_support(data, candidates)
        frequent_itemsets_k = prune_non_frequent_itemsets(support, min_support)
        
        if not frequent_itemsets_k:
            break
        
        frequent_itemsets.update(frequent_itemsets_k)
        k += 1
    
    return frequent_itemsets

In [22]:
def generate_association_rules(frequent_itemsets, data, min_confidence):
    rules = []
    for itemset, support in frequent_itemsets.items():
        if len(itemset) >= 2:
            subsets = list(itertools.chain.from_iterable(itertools.combinations(itemset, r) for r in range(1, len(itemset))))
            for antecedent in subsets:
                consequent = tuple(set(itemset) - set(antecedent))
                support_antecedent = frequent_itemsets.get(antecedent, 0)
                support_consequent = frequent_itemsets.get(consequent, 0)
                confidence = support / support_antecedent if support_antecedent > 0 else 0
                lift = confidence / support_consequent if support_consequent > 0 else 0

                if confidence >= min_confidence:
                    rules.append((set(antecedent), set(consequent), confidence, lift))
    return rules

In [23]:
# Run Apriori algorithm
frequent_itemsets = apriori_algorithm(baskets_values, min_support)

# Generate association rules
association_rules = generate_association_rules(frequent_itemsets, baskets_values, min_confidence)

# Results
print("________ Frequent Itemsets: ________\n")
for itemset, support in frequent_itemsets.items():
    print(f"{itemset}: Support = {support}")

print("\n\n________ Association Rules: ________\n")
for rule in association_rules:
    print(f"Rule: {rule[0]} -> {rule[1]}")
    print(f" - Confidence: {rule[2]}")
    print(f" - Lift: {rule[3]}\n")

________ Frequent Itemsets: ________

('Organic Egg Whites',): Support = 2
('Michigan Organic Kale',): Support = 2
('Carrots',): Support = 4
('Garlic Powder',): Support = 2
('Organic Baby Spinach',): Support = 8
('Unsweetened Almondmilk',): Support = 3
('Organic Ginger Root',): Support = 2
('Air Chilled Organic Boneless Skinless Chicken Breasts',): Support = 3
('Original Orange Juice',): Support = 2
('Organic Hass Avocado',): Support = 6
('Bag of Organic Bananas',): Support = 12
('2% Reduced Fat Milk',): Support = 3
('Artichokes',): Support = 2
('Organic Raspberries',): Support = 5
('Clementines',): Support = 2
('Orange Juice',): Support = 2
('Organic Bread with 21 Whole Grains',): Support = 2
('Extra Virgin Olive Oil',): Support = 2
('Green Beans',): Support = 2
('Organic Avocado',): Support = 8
('Organic Strawberries',): Support = 5
('Yellow Onions',): Support = 3
('Organic Half & Half',): Support = 2
('Spinach Peas & Pear Stage 2 Baby Food',): Support = 2
('Banana',): Support = 10
('Organic Cilantro',): Support = 3
('Organic Butterhead (Boston, Butter, Bibb) Lettuce',): Support = 2
('Sparkling Natural Mineral Water',): Support = 2
('Soda',): Support = 2
('Philadelphia Original Cream Cheese',): Support = 2
('Organic Broccoli Florets',): Support = 2
('Organic Whole Milk',): Support = 3
('Organic Extra Virgin Olive Oil',): Support = 2
('Original Popcorn',): Support = 2
('Sparkling Water Grapefruit',): Support = 2
('Watermelon Chunks',): Support = 3
('Organic Unsalted Butter',): Support = 2
('Asparagus',): Support = 2
('Organic Fat Free Milk',): Support = 2
('Ataulfo Mango',): Support = 2
('Red Vine Tomato',): Support = 2
('Organic Baby Carrots',): Support = 4
('Frozen Organic Blueberries',): Support = 2
('Cream Cheese',): Support = 2
('Presliced Everything Bagels',): Support = 2
('Iceberg Lettuce',): Support = 2
('Organic Baby Spinach Salad',): Support = 2
('Organic Red Onion',): Support = 2
('Half Baked® Ice Cream',): Support = 2
('Natural Muenster Cheese',): Support = 2
('Green Bell Pepper',): Support = 2
('Low Fat Vanilla Yogurt',): Support = 2
('No Salt Added Black Beans',): Support = 2
('Organic Tomato Cluster',): Support = 2
('Original Semisoft Cheese',): Support = 2
("Organic D'Anjou Pears",): Support = 2
('Large Lemon',): Support = 5
('Whole Organic Omega 3 Milk',): Support = 2
('Raspberries',): Support = 3
('Mango Chunks',): Support = 2
('Organic Yellow Onion',): Support = 3
('Seedless Red Grapes',): Support = 3
('Cucumber Kirby',): Support = 5
('Baby Swiss Slices Cheese',): Support = 2
('Organic Fuji Apple',): Support = 3
('Classic Variety Pack Donuts',): Support = 2
('Organic Blueberries',): Support = 2
('Strawberries',): Support = 6
('Organic Chicken Bone Broth',): Support = 2
('YoKids Squeezers Organic Low-Fat Yogurt, Strawberry',): Support = 3
('Yo Baby Organic Whole Milk Banana Mango Yogurt',): Support = 2
('Milk, Vitamin D',): Support = 2
('Shredded Parmesan',): Support = 2
('Gala Apples',): Support = 2
('Organic Gala Apples',): Support = 3
('Organic Lemon',): Support = 4
('Large Alfresco Eggs',): Support = 3
('Organic Cucumber',): Support = 3
('Buttermilk Biscuits',): Support = 2
('Organic Blackberries',): Support = 4
('Marinara Sauce',): Support = 2
('Organic Diced Tomatoes',): Support = 2
('Non Fat Greek Yogurt',): Support = 2
('Tilapia Filet',): Support = 2
('Jalapeno Peppers',): Support = 2
('Limes',): Support = 2
('Organic Lactose Free Whole Milk',): Support = 2
('Organic Grade A Large Brown Eggs',): Support = 3
('Toasted Coconut Chips Original Recipe',): Support = 2
('Baby Boomer Fresh Creamer Potatoes',): Support = 2
('Toasted Coconut Almondmilk Blend',): Support = 2
('Organic Beefsteak Tomato',): Support = 2
('Red Peppers',): Support = 2
('Yellow Bell Pepper',): Support = 2
('Whole Milk',): Support = 3
('Organic Yokids Lemonade/Blueberry Variety Pack Yogurt Squeezers Tubes',): Support = 2
('Organic Kiwi',): Support = 3
('Organic Vanilla Almond Milk',): Support = 3
('Ultra Soft Facial Tissues',): Support = 2
('Organic Baby Arugula',): Support = 2
('Apple Cinnamon GoGo Squeez',): Support = 2
('Goodness Grapeness Organic Juice Drink',): Support = 2
('Roma Tomato',): Support = 2
('Chocolate Chip Cookie Dough Ice Cream',): Support = 2
('French Roast Ground Coffee',): Support = 2
('Fresh Cauliflower',): Support = 2
('Michigan Organic Kale', 'Carrots'): Support = 2
('Bag of Organic Bananas', 'Organic Raspberries'): Support = 3
('Bag of Organic Bananas', '2% Reduced Fat Milk'): Support = 2
('Banana', 'Organic Avocado'): Support = 3
('Banana', 'Organic Strawberries'): Support = 3
('Organic Avocado', 'Organic Strawberries'): Support = 3
('Organic Strawberries', 'Organic Half & Half'): Support = 2
('Banana', 'Organic Half & Half'): Support = 2
('Watermelon Chunks', 'Organic Fat Free Milk'): Support = 2
('Banana', 'Iceberg Lettuce'): Support = 2
('Organic Baby Spinach', 'Banana'): Support = 2
('Organic Avocado', 'No Salt Added Black Beans'): Support = 2
('Bag of Organic Bananas', 'Organic Tomato Cluster'): Support = 2
('Carrots', 'Bag of Organic Bananas'): Support = 2
('Organic Avocado', 'Low Fat Vanilla Yogurt'): Support = 2
('Organic Hass Avocado', 'Large Lemon'): Support = 2
('Large Lemon', 'Original Semisoft Cheese'): Support = 2
('Bag of Organic Bananas', 'Raspberries'): Support = 2
('Bag of Organic Bananas', 'Seedless Red Grapes'): Support = 2
('Banana', 'Cucumber Kirby'): Support = 2
('Banana', 'Large Lemon'): Support = 2
('Organic Hass Avocado', 'Organic Lemon'): Support = 2
('Organic Baby Spinach', 'Buttermilk Biscuits'): Support = 2
('Tilapia Filet', 'Limes'): Support = 2
('Banana', 'Organic Blackberries'): Support = 2
('Organic Strawberries', 'Organic Kiwi'): Support = 3
('Organic Strawberries', 'Cucumber Kirby'): Support = 2
('Organic Avocado', 'Cucumber Kirby'): Support = 2
('Large Lemon', 'Organic Baby Arugula'): Support = 2
('Organic Baby Spinach', 'Organic Vanilla Almond Milk'): Support = 2
('YoKids Squeezers Organic Low-Fat Yogurt, Strawberry', 'Chocolate Chip Cookie Dough Ice Cream'): Support = 2
('Banana', 'Organic Strawberries', 'Organic Half & Half'): Support = 2
('Banana', 'Organic Avocado', 'Organic Strawberries'): Support = 2
('Organic Avocado', 'Organic Strawberries', 'Cucumber Kirby'): Support = 2


________ Association Rules: ________

Rule: {'Michigan Organic Kale'} -> {'Carrots'}
 - Confidence: 1.0
 - Lift: 0.25

Rule: {'Carrots'} -> {'Michigan Organic Kale'}
 - Confidence: 0.5
 - Lift: 0.25

Rule: {'Organic Raspberries'} -> {'Bag of Organic Bananas'}
 - Confidence: 0.6
 - Lift: 0.049999999999999996

Rule: {'2% Reduced Fat Milk'} -> {'Bag of Organic Bananas'}
 - Confidence: 0.6666666666666666
 - Lift: 0.05555555555555555

Rule: {'Organic Strawberries'} -> {'Banana'}
 - Confidence: 0.6
 - Lift: 0.06

Rule: {'Organic Strawberries'} -> {'Organic Avocado'}
 - Confidence: 0.6
 - Lift: 0.075

Rule: {'Organic Half & Half'} -> {'Organic Strawberries'}
 - Confidence: 1.0
 - Lift: 0.2

Rule: {'Organic Half & Half'} -> {'Banana'}
 - Confidence: 1.0
 - Lift: 0.1

Rule: {'Watermelon Chunks'} -> {'Organic Fat Free Milk'}
 - Confidence: 0.6666666666666666
 - Lift: 0.3333333333333333

Rule: {'Organic Fat Free Milk'} -> {'Watermelon Chunks'}
 - Confidence: 1.0
 - Lift: 0.3333333333333333

Rule: {'Iceberg Lettuce'} -> {'Banana'}
 - Confidence: 1.0
 - Lift: 0.1

Rule: {'No Salt Added Black Beans'} -> {'Organic Avocado'}
 - Confidence: 1.0
 - Lift: 0.125

Rule: {'Organic Tomato Cluster'} -> {'Bag of Organic Bananas'}
 - Confidence: 1.0
 - Lift: 0.08333333333333333

Rule: {'Carrots'} -> {'Bag of Organic Bananas'}
 - Confidence: 0.5
 - Lift: 0.041666666666666664

Rule: {'Low Fat Vanilla Yogurt'} -> {'Organic Avocado'}
 - Confidence: 1.0
 - Lift: 0.125

Rule: {'Original Semisoft Cheese'} -> {'Large Lemon'}
 - Confidence: 1.0
 - Lift: 0.2

Rule: {'Raspberries'} -> {'Bag of Organic Bananas'}
 - Confidence: 0.6666666666666666
 - Lift: 0.05555555555555555

Rule: {'Seedless Red Grapes'} -> {'Bag of Organic Bananas'}
 - Confidence: 0.6666666666666666
 - Lift: 0.05555555555555555

Rule: {'Organic Lemon'} -> {'Organic Hass Avocado'}
 - Confidence: 0.5
 - Lift: 0.08333333333333333

Rule: {'Buttermilk Biscuits'} -> {'Organic Baby Spinach'}
 - Confidence: 1.0
 - Lift: 0.125

Rule: {'Tilapia Filet'} -> {'Limes'}
 - Confidence: 1.0
 - Lift: 0.5

Rule: {'Limes'} -> {'Tilapia Filet'}
 - Confidence: 1.0
 - Lift: 0.5

Rule: {'Organic Blackberries'} -> {'Banana'}
 - Confidence: 0.5
 - Lift: 0.05

Rule: {'Organic Strawberries'} -> {'Organic Kiwi'}
 - Confidence: 0.6
 - Lift: 0.19999999999999998

Rule: {'Organic Kiwi'} -> {'Organic Strawberries'}
 - Confidence: 1.0
 - Lift: 0.2

Rule: {'Organic Baby Arugula'} -> {'Large Lemon'}
 - Confidence: 1.0
 - Lift: 0.2

Rule: {'Organic Vanilla Almond Milk'} -> {'Organic Baby Spinach'}
 - Confidence: 0.6666666666666666
 - Lift: 0.08333333333333333

Rule: {'YoKids Squeezers Organic Low-Fat Yogurt, Strawberry'} -> {'Chocolate Chip Cookie Dough Ice Cream'}
 - Confidence: 0.6666666666666666
 - Lift: 0.3333333333333333

Rule: {'Chocolate Chip Cookie Dough Ice Cream'} -> {'YoKids Squeezers Organic Low-Fat Yogurt, Strawberry'}
 - Confidence: 1.0
 - Lift: 0.3333333333333333

Rule: {'Organic Half & Half'} -> {'Organic Strawberries', 'Banana'}
 - Confidence: 1.0
 - Lift: 0

Rule: {'Organic Strawberries', 'Banana'} -> {'Organic Half & Half'}
 - Confidence: 0.6666666666666666
 - Lift: 0.3333333333333333

Rule: {'Banana', 'Organic Half & Half'} -> {'Organic Strawberries'}
 - Confidence: 1.0
 - Lift: 0.2

Rule: {'Organic Strawberries', 'Organic Half & Half'} -> {'Banana'}
 - Confidence: 1.0
 - Lift: 0.1

Rule: {'Organic Avocado', 'Banana'} -> {'Organic Strawberries'}
 - Confidence: 0.6666666666666666
 - Lift: 0.13333333333333333

Rule: {'Organic Strawberries', 'Banana'} -> {'Organic Avocado'}
 - Confidence: 0.6666666666666666
 - Lift: 0.08333333333333333

Rule: {'Organic Strawberries', 'Organic Avocado'} -> {'Banana'}
 - Confidence: 0.6666666666666666
 - Lift: 0.06666666666666667

Rule: {'Organic Strawberries', 'Organic Avocado'} -> {'Cucumber Kirby'}
 - Confidence: 0.6666666666666666
 - Lift: 0.13333333333333333

Rule: {'Organic Avocado', 'Cucumber Kirby'} -> {'Organic Strawberries'}
 - Confidence: 1.0
 - Lift: 0.2

Rule: {'Organic Strawberries', 'Cucumber Kirby'} -> {'Organic Avocado'}
 - Confidence: 1.0
 - Lift: 0.125